.text-ai {
  background: linear-gradient(to bottom, #003990, #37c6ff, #90dfff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text-ai-2 {
  background: linear-gradient(to right, #37c6ff, #a35af7, #d96570);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}