{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block style %}

<!-- <style>
  main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style> -->

{% endblock %}

{% block content %}

{% include 'includes/navbar.html' %}

<main>
  <div class="row container mx-auto">
    <div class="col-md-4 col-12 mx-auto">
      {% if msg %}
      <div class="alert alert-info" role="alert">
        {{ msg }}
      </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-primary w-100">Login</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}