{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3Z51SWLH39"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-3Z51SWLH39');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block metadata %}
  {% endblock %}
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/bootstrap-lux.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block style %}
  {% endblock %}
</head>
<body>
  {% block content %}
  {% endblock %}
  <script src="{% static 'js/htmx.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  {% block javascript %}
  {% endblock %}
</body>
</html>