{% extends 'base.html' %}
{% load static %}

{% block metadata %}
<meta name="description" content="Therapist AI Feynman Pi | Your personal AI-powered mental health support, available 24/7.">
<meta name="keywords" content="threapist, therapy, ai, ai therapy, ai therapist, , llm, feynman pi, feynman, pi, bharat, gpt, india, generative, ai, artificial, intelligence">
<meta name="robots" content="index,follow">
<meta name="author" content="Feynman Pi">
<meta property="og:title" content="Therapist AI | Feynman Pi">
<meta property="og:description" content="Therapist AI Feynman Pi | Your personal AI-powered mental health support, available 24/7.">
<meta property="og:image" content="{% static 'img/pi.jpg'}">
<meta property="og:url" content="https://therapy.feynmanpi.com/">
<meta http-equiv="Content-Language" content="en">  
{% endblock %}

{% block title %}Therapist AI | Feynman Pi{% endblock %}

{% block style %}


<style>
  .btn-outline-primary {
    --bs-btn-color: #fff;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1a1a1a;
    --bs-btn-hover-border-color: #1a1a1a;
    --bs-btn-focus-shadow-rgb: 26, 26, 26;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1a1a1a;
    --bs-btn-active-border-color: #1a1a1a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(243, 33, 33, 0.125);
    --bs-btn-disabled-color: #1a1a1a;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #1a1a1a;
    --bs-gradient: none;
  }
  
</style>

{% endblock %}

{% block content %}

{% include 'includes/navbar_abs.html' %}

<main>
  <div class="hero">
    <video autoplay muted loop class="hero-video">
      <source src="{% static 'img/hero-desktop-6.mp4' %}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <section class="hero-content">
      <div class="text-center py-5 my-5">
        <h1 class="display-2 my-5">
          <span class="text-outline text-white">
            Welcome to Your
          </span> 
          <br>
          <span class="text-ai-2 text-white">
            AI Therapist
          </span></h1>
        <p class="lead text-white text-outline">Your personal AI-powered mental health support, <br>available 24/7.</p>
        <div>
          <a href="{% url 'app' %}">
            <button class="btn btn-primary me-2">Get Started</button>
          </a>
          <a href="https://github.com/SAGAR-TAMANG/therapist-ai" target="_blank">
            <button class="btn btn-outline-primary">Learn More <i class="fa-solid fa-arrow-up-right-from-square"></i></button>
          </a>
        </div>
    </div>
    </section>
  </div>
</main>

{% endblock %}