{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
  <section class="hero container">
    <div class="hero text-center py-5 my-5">
      <h1 class="display-2 my-5">Welcome to Your 
        <br>
        <span class="text-ai-2">
          AI Therapist
        </span></h1>
      <p class="lead">Your personal AI-powered mental health support, available 24/7.</p>
      <div>
        <a href="{% url 'app' %}">
          <button class="btn btn-primary me-2">Get Started</button>
        </a>
        <a href="https://github.com/SAGAR-TAMANG/therapist-ai" target="_blank">
          <button class="btn btn-outline-primary">Learn More <i class="fa-solid fa-arrow-up-right-from-square"></i></button>
        </a>
      </div>
  </div>
  </section>
</main>

{% endblock %}